/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header styles */
.header {
  margin-bottom: 20px;
  color: #3498db;
  font-size: 2rem;
}

/* Timer styles */
.timer {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

/* .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
} */

/* .timer-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  transition: background-color 0.2s ease;
} */

/* .timer-button:hover {
  background-color: #2980b9;
} */

/* .reset-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  font-size: 1rem;
  transition: background-color 0.2s ease;
} */

/* .reset-button:hover {
  background-color: #c0392b;
} */

/* Login form styles */
.login-form {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  color: #3498db;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

/* Additional styles for PomodoroApp */
.pomodoro-app {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color: #5e0592;
  color: #eee;
}
main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 50px;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}
button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
